@import '../../resources/mixin.scss';
@import '../../resources/colors.scss';
@import '../../resources/medley.scss';

.search-container {
  width: 70%;
  padding: 15px 0;
  @include flexbox(row, center, center);

  .input-container {
    width: 200px;
    height: 30px;
    border: solid 1px $dark-color;
    border-radius: $border-radius;
    padding: 2px;
    @include flexbox(row, flex-start, center);
  }

  input {
    border: none;
  }

  .fas {
    color: $dark-color;
  }
}
